.content-center {
	margin-left: auto;
	margin-right: auto;
}

.d-block {
	display: block;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-bold {
	font-weight: bold;
}

.mt-0 {
	margin-top: 0;
}

.mt-1 {
	margin-top: 1vh;
}

.mt-2 {
	margin-top: 3vh;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: 1vh;
}

.mb-2 {
	margin-bottom: 3vh;
}

.mr-0 {
	margin-right: 0;	
}

.mr-1 {
	margin-right: 1vh;	
}

.mr-2 {
	margin-right: 3vh;	
}

.btn {
	height: 40px;
	border-radius: 10px;
	border: 2px solid transparent;
	cursor: pointer;
	padding: 10px;
	font-size: 15px;
}

.btn-primary {
	background-color: #007bff;
	border-color: #007bff;
	color: #ffffff;
}

.btn-secondary {
	background-color: #ffffff;
	border-color: #3333ff;
	color: #3333ff;
	font-weight: bold;
	font-size: 15px;
}

.btn-secondary:hover {
	background-color: #e6f2ff;
}

.btn-small {
	background-color: #808080;
	border-color: #808080;
	color: #ffffff;
}

.btn-small:hover {
	background-color: #a6a6a6;	
}

.btn-small-selected {
	background-color: #a6a6a6;	
}